.shared-label-input {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  &__label {
    font-size: 14px;
    line-height: 20px;
    color: $main-color;
  }

  &__label-required {
    color: $color-status-red;
  }

  &__field {
    width: 100%;
    padding: 14px 16px;
    background: $color-white;
    border: 1px solid $color-gray-light;
    outline: none;
    font-size: 14px;
    line-height: 17px;
    color: $color-light;
    border-radius: 6px;
  }

  &__error {
    font-size: 12px;
    line-height: 16px;
    color: $color-status-red;
  }
}
